body{
   font-family: font-family: 'Edu NSW ACT Foundation', cursive;
   font-family: 'Noto Sans JP', sans-serif;;
}
p{
   font-family: font-family: 'Edu NSW ACT Foundation', cursive;
   font-family: 'Noto Sans JP', sans-serif;;
}